<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="HotaiConnected\FetSms\Api\SmsSenderInterface" type="HotaiConnected\FetSms\Model\SmsSender"/>
    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="fet_sms_test_command" xsi:type="object">HotaiConnected\FetSms\Console\Command\TestSmsCommand</item>
            </argument>
        </arguments>
    </type>
</config>
