<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="HotaiConnected_Qware" setup_version="1.0.0">
        <sequence>
            <module name="Branch8_HotaiCore" />
            <module name="Branch8_HotaiPoint" />
            <module name="Branch8_TicketApi" />
            <module name="Branch8_CustomerTicketTable"/>
        </sequence>
    </module>
</config>