<?xml version="1.0"?>
<!--
/**
 * Branch8.
 *
 * @category  Branch8
 * @package   Branch8_PointMoneyCollect
 * @author    Branch8: Glenn
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Quote\Model\Cart\CartTotalRepository">
        <plugin name="point_range_in_checkout_summary" type="Branch8\PointMoneyCollect\Plugin\CartTotalRepository" />
    </type>
</config>
