<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <optionsWithStockAndImages>
            <cart>
                <block_not_exist_variant>0</block_not_exist_variant>
            </cart>
        </optionsWithStockAndImages>
        <branch8_debug>
            <branch8_optionswithstockandimages>
                <debug_mode>0</debug_mode>
            </branch8_optionswithstockandimages>
        </branch8_debug>
    </default>
</config>
