<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <hotai_auth>
            <external_exchange>
                <is_production>0</is_production>
                <aes_key></aes_key>
                <aes_iv></aes_iv>
                <production_aes_key>
                    <item1>
                        <platform>CAPP</platform>
                        <aes_key></aes_key>
                    </item1>
                    <item2>
                        <platform>CDAPP</platform>
                        <aes_key></aes_key>
                    </item2>
                    <item3>
                        <platform>CHIAPP</platform>
                        <aes_key></aes_key>
                    </item3>
                    <item4>
                        <platform>ECHOHTP</platform>
                        <aes_key></aes_key>
                    </item4>
                    <item5>
                        <platform>ECHOSL</platform>
                        <aes_key></aes_key>
                    </item5>
                    <item6>
                        <platform>ECWEB</platform>
                        <aes_key></aes_key>
                    </item6>
                    <item7>
                        <platform>HAPP</platform>
                        <aes_key></aes_key>
                    </item7>
                    <item8>
                        <platform>HTPOS</platform>
                        <aes_key></aes_key>
                    </item8>
                    <item9>
                        <platform>HWEB</platform>
                        <aes_key></aes_key>
                    </item9>
                    <item10>
                        <platform>LAPP</platform>
                        <aes_key></aes_key>
                    </item10>
                    <item11>
                        <platform>LWEB</platform>
                        <aes_key></aes_key>
                    </item11>
                    <item12>
                        <platform>SVCWEB</platform>
                        <aes_key></aes_key>
                    </item12>
                    <item13>
                        <platform>TAPP</platform>
                        <aes_key></aes_key>
                    </item13>
                    <item14>
                        <platform>TMS</platform>
                        <aes_key></aes_key>
                    </item14>
                    <item15>
                        <platform>TWEB</platform>
                        <aes_key></aes_key>
                    </item15>
                    <item16>
                        <platform>yoxi</platform>
                        <aes_key></aes_key>
                    </item16>
                    <item17>
                        <platform>MTASK</platform>
                        <aes_key></aes_key>
                    </item17>
                    <item18>
                        <platform>HTGOAPP</platform>
                        <aes_key></aes_key>
                    </item18>
                    <item19>
                        <platform>LLINE</platform>
                        <aes_key></aes_key>
                    </item19>
                </production_aes_key>
                <production_aes_iv>
                    <item1>
                        <platform>CAPP</platform>
                        <aes_iv></aes_iv>
                    </item1>
                    <item2>
                        <platform>CDAPP</platform>
                        <aes_iv></aes_iv>
                    </item2>
                    <item3>
                        <platform>CHIAPP</platform>
                        <aes_iv></aes_iv>
                    </item3>
                    <item4>
                        <platform>ECHOHTP</platform>
                        <aes_iv></aes_iv>
                    </item4>
                    <item5>
                        <platform>ECHOSL</platform>
                        <aes_iv></aes_iv>
                    </item5>
                    <item6>
                        <platform>ECWEB</platform>
                        <aes_iv></aes_iv>
                    </item6>
                    <item7>
                        <platform>HAPP</platform>
                        <aes_iv></aes_iv>
                    </item7>
                    <item8>
                        <platform>HTPOS</platform>
                        <aes_iv></aes_iv>
                    </item8>
                    <item9>
                        <platform>HWEB</platform>
                        <aes_iv></aes_iv>
                    </item9>
                    <item10>
                        <platform>LAPP</platform>
                        <aes_iv></aes_iv>
                    </item10>
                    <item11>
                        <platform>LWEB</platform>
                        <aes_iv></aes_iv>
                    </item11>
                    <item12>
                        <platform>SVCWEB</platform>
                        <aes_iv></aes_iv>
                    </item12>
                    <item13>
                        <platform>TAPP</platform>
                        <aes_iv></aes_iv>
                    </item13>
                    <item14>
                        <platform>TMS</platform>
                        <aes_iv></aes_iv>
                    </item14>
                    <item15>
                        <platform>TWEB</platform>
                        <aes_iv></aes_iv>
                    </item15>
                    <item16>
                        <platform>yoxi</platform>
                        <aes_iv></aes_iv>
                    </item16>
                    <item17>
                        <platform>MTASK</platform>
                        <aes_iv></aes_iv>
                    </item17>
                    <item18>
                        <platform>HTGOAPP</platform>
                        <aes_iv></aes_iv>
                    </item18>
                    <item19>
                        <platform>LLINE</platform>
                        <aes_iv></aes_iv>
                    </item19>
                </production_aes_iv>
            </external_exchange>
        </hotai_auth>
    </default>
</config>
