<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Customer\Controller\Account\Login" type="Branch8\HotaiAuth\Controller\Login\Index"/>
    <preference for="Magento\Customer\Controller\Account\Create" type="Branch8\HotaiAuth\Controller\Create\Index"/>
    <preference for="Magento\Customer\Controller\Account\Edit" type="Branch8\HotaiAuth\Controller\Edit\Index"/>
    <preference for="Branch8\HotaiAuth\Api\LoginWithTokenInterface" type="Branch8\HotaiAuth\Model\Api\LoginWithToken"/>

    <type name="Magento\Framework\Session\SessionManager">
        <plugin name="branch8_hotai_before_get_hotai_session" type="Branch8\HotaiAuth\Plugin\Magento\Framework\Session\SessionManager" sortOrder="10"/>
    </type>
    <type name="Magento\Customer\Model\Account\Redirect">
        <plugin name="branch8_hotai_account_redirect" type="Branch8\HotaiAuth\Plugin\Magento\Customer\Model\Account\Redirect" sortOrder="1"/>
    </type>
    <preference for="Magento\Customer\Model\ResourceModel\Customer"
                type="Branch8\HotaiAuth\Model\ResourceModel\Customer"/>

    <type name="Branch8\HotaiAuth\Logger\Handler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="Branch8\HotaiAuth\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">hotai-app-debug</argument>
            <argument name="handlers" xsi:type="array">
                <item name="system" xsi:type="object">Branch8\HotaiAuth\Logger\Handler</item>
            </argument>
        </arguments>
    </type>
</config>
