<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::helpdesk_elements" title="HelpDesk">
                    <resource id="Branch8_HelpDesk::ticket" title="Ticket" sortOrder="10">
                        <resource id="Branch8_HelpDesk::ticket_new" title="New Ticket" sortOrder="10" />
                        <resource id="Branch8_HelpDesk::ticket_view" title="View Ticket" sortOrder="15" />
                        <resource id="Branch8_HelpDesk::ticket_edit" title="Edit Ticket" sortOrder="20">
                            <resource id="Branch8_HelpDesk::assign_ticket" title="Assign Ticket" sortOrder="40" />
                            <resource id="Branch8_HelpDesk::ticket_change_team" title="Change Team" sortOrder="50" />
                            <resource id="Branch8_HelpDesk::answer_message" title="Answer Ticket" sortOrder="60" />
                        </resource>
                        <resource id="Branch8_HelpDesk::ticket_delete" title="Delete Ticket" sortOrder="30" />
                    </resource>
                    <resource id="Branch8_HelpDesk::team" title="Team" sortOrder="30">
                        <resource id="Branch8_HelpDesk::manage_team" title="Manage Team" sortOrder="10" />
                    </resource>
                    <resource id="Branch8_HelpDesk::category" title="Category" sortOrder="60">
                        <resource id="Branch8_HelpDesk::manage_category" title="Manage Category" sortOrder="10" />
                    </resource>
                </resource>
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Branch8_HelpDesk::config" title="Config HelpDesk" sortOrder="1000"/>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
