#ui-datepicker-div {
    & .ui-datepicker-calendar {
        & .ui-state-active,
        & .ui-state-default,
        & .ui-state-hover {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        & .ui-state-hover:hover {
            background-color: #cac7c7;
        }
    }

    .ui-datepicker-buttonpane {
        display: flex;
        gap: 20px;
    }
}