// @codingStandardsIgnoreFile
//
//  One Step Checkout

//
//  Common
//  ---------------------------------------------

& when (@media-common = true) {

    .checkout-index-index {
        .opc-wrapper {
            .form-shipping-address-same-as-purchaser,
            .form-shipping-address {
                margin-top: 0;
                .fieldset.address div[name$=".firstname"] {
                    width: 50%;
                }
                .fieldset.address div[name$=".lastname"] {
                    width: 50%;
                }
                .fieldset.address div[name$=".country_id"] {
                    width: 50%;
                }
                .fieldset.address div[name$=".region"] {
                    width: 50%;
                }
                .fieldset.address div[name$=".city"] {
                    width: 50%;
                }
                .fieldset.address div[name$=".postcode"] {
                    width: 50%;
                }
                .fieldset {
                    .field {
                        margin: 0 0 12px;
                    }
                }
                .hidden-field {
                    display: none;
                }
            }
            .checkout-shipping-address {
                .select-shipping-process {
                    margin-bottom: 15px;
                }
                table > thead > tr > th,
                table > tbody > tr > th,
                table > tfoot > tr > th,
                table > thead > tr > td,
                table > tbody > tr > td,
                table > tfoot > tr > td {
                    padding: 5px 5px;
                    text-align:center
                }
                .table-shipping-address-list {
                    border: none;
                    font-size:14px;
                }
            }
            .action-show-new-address {
                margin-bottom: 12px;
                span:before {
                    content: '+';
                }
            }
            .referrer_code {
                .field {
                    width: 50%;
                }
            }
        }
    }
}
