<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <buyer_seller_chat>
            <product>
                <enable>1</enable>
            </product>
        </buyer_seller_chat>
    </default>
</config>
