& when (@media-common = true) {
    body#html-body{
        .featured-vouchers-section-title {
            &:before,
            &:after {
                content: "\e920";
            }
        }
        .featured-vouchers-section{
            overflow: auto;
            
            .pagebuilder-banner-rounded-corner .pagebuilder-banner-wrapper{
                max-width: 56%;
            }
            .pagebuilder-column-line{
                
                .pagebuilder-column{
                    
                    min-width: 288px;
                }
            }
            .bottom-banner{
                .pagebuilder-column{
                    flex-direction: row;
                    align-self: flex-start;
                    justify-content: space-evenly;
                    flex-wrap: wrap;
                    position: relative;
                    [data-content-type="heading"]{
                        flex: 0 0 100%;
                    }
                    figure{
                        width: ~'calc(33.33% - 20px)';
                    }
                    &:before {
                        content: "";
                        position: absolute;
                        margin: -13px;
                        width: 26px;
                        height: 26px;
                        border-radius: 50%;
                        left: 0;
                        top: 0;
                        background-color: white;
                        border: 1px solid white;
                        border-right-color: #e6e6e6;
                        transform: rotate(46deg);
                        z-index: 9;
                    }
                    &:after {
                        content: "";
                        position: absolute;
                        margin: -13px;
                        width: 26px;
                        height: 26px;
                        border-radius: 50%;
                        right: 0;
                        top: 0;
                        background-color: white;
                        border: 1px solid white;
                        border-left-color: #e6e6e6;
                        transform: rotate(-46deg);
                        z-index: 9;
                    }
                }
            }
            .banner-title,
            .banner-content{
                color: @color-white;
            }

            [data-appearance="rounded-corner"]{
                .pagebuilder-banner-content{
                    h5{
                    margin-bottom: 5px;
                    }
                }
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    body#html-body .featured-vouchers-section{
        margin-left:-6px;
        margin-right: ~'calc(-1 * var(--layout-indent__width))';
        
        .pagebuilder-column-line{
            flex-wrap: nowrap;
            .pagebuilder-column {
                margin: 0 6px !important;
            }
            .pagebuilder-overlay.pagebuilder-poster-overlay{
                padding: 20px;
            }
        }
        .pagebuilder-banner-rounded-corner .pagebuilder-banner-content{
            padding: 20px 6px 20px 20px;
            align-items: center;
        }
    } 
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    body#html-body .featured-vouchers-section .pagebuilder-banner-rounded-corner .pagebuilder-banner-content{
        padding: 36px 16px 24px 24px;
    }

    body#html-body{
        .featured-vouchers-section{
            // Fix scroll on desktop cause by left bottom corner
            padding-left: 8px;
            padding-right: 8px;
            margin-left: -24px;
            margin-right: -24px;

            .pagebuilder-column-line .pagebuilder-column {
                margin: 0 16px;
                min-width: 352px;
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__sl) {
    body#html-body .featured-vouchers-section .pagebuilder-banner-rounded-corner .pagebuilder-banner-content{
        padding-right: 28px;
    }
}
