<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <branch8_visualmerchandiser>
            <configuration>
                <enable_auto_index>1</enable_auto_index>
                <cron_path>5/* * * * *</cron_path>
                <throttle>60</throttle>
            </configuration>
        </branch8_visualmerchandiser>
    </default>
</config>
