.chat-module .top-bar.seller-side .right .window-minimize {
    right: 10px !important;
}

.chat-module .top-bar.seller-side .right .window-maximize {
    right: 30px !important;
}

.chat-module .top-bar.seller-side .right > .close {
    right: -2.5rem !important;
}

.chat-module .other .messages {
    color: white;
}

div[id^="chat-window-"] {
    width: 328px !important;
    position: fixed !important;
}

.chat-module .top-bar.seller-side .right > .close {
    right: 0.5rem !important;
}

.chat-module .top-bar.seller-side .right .window-minimize {
    right: 30px !important;
}

#chat_window_container {
    position: absolute;
    width: calc(100vw - 312px); /* Adjust width to account for the floating panel */
    height: 100vh;
    /*overflow: hidden;*/
}

#chat_window_container  .typing-message {
    bottom: 15px !important;
}

