/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

//
//  Cart Rule Styles
//  _____________________________________________

.sales_rule-promo_quote-edit .rule-tree .rule-chooser {
    overflow: inherit;
    border: 0;
    margin: 0;

    div[id*=cart-rule-category] .admin__fieldset {
        margin: 0;
        padding: 1.5rem 0;
        .admin__action-multiselect {
            line-height: 1.6rem;
        }
    }
}