/**
 *
 * @category    Branch8
 * @package     Branch8_Blog
 */

[data-role='modal'] ._required>.admin__field-label>label:after {
  content: unset !important;
}
#post_grid_table .admin__grid-control .admin__grid-control-value {
  display: none;
}
#menu-magento-backend-content .submenu-group-title {
  display: block;
}
