<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="HotaiConnected\Order\Api\OrderManagementInterface" type="HotaiConnected\Order\Model\OrderManagement"/>
	<preference for="HotaiConnected\Order\Api\OrderExistenceManagementInterface" type="HotaiConnected\Order\Model\OrderExistenceManagement"/>
</config>
