<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_order_item_save_commit_after">
        <observer name="branch8_hotaiordernumber_set_hotail_order_item"
                  instance="Branch8\HotaiOrderNumber\Observer\SetHotaiOrderItemNumber" />
    </event>
    <event name="sales_order_save_before">
        <observer name="update_hotail_child_order_ifmissing"
                  instance="Branch8\HotaiOrderNumber\Observer\SetHotaiChildOrderNumberIfMissing"/>
    </event>
</config>
