<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
	<router id="standard">
		<route id="mprmasystem" frontName="mprmasystem">
            <module name="Branch8_Rma" before="Webkul_MpRmaSystem"/>
        </route>
        <route id="reqrma" frontName="reqrma">
            <module name="Branch8_Rma" before="Webkul_MpRmaSystem"/>
        </route>
	</router>
</config>
