<?xml version="1.0"?>
<!--
/**
 *
 * @category    Branch8
 * @package     Branch8_Blog
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="branch8_blog" frontName="branch8_blog">
            <module name="Branch8_Blog"/>
        </route>
    </router>
</config>
