<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@subject {{trans "商品資料匯出完成"}} @-->
<!--@vars {
"var $data.name":"Email Name",
"var $data.file_display_name":"File Name"
} @-->
{{template config_path="design/email/header_template"}}
<table>
    <tr class="email-intro">
        <td>
            <p class="greeting">
                {{trans "Dear, %name" name=$data.name}}
            </p>
        </td>
    </tr>
    <tr class="email-summary">
        <td>
            <p>商品資料匯出已完成，請點擊連結前往下載</p>
        </td>
    </tr>
    <tr class="email-summary">
        <td>
            <p><b>System -> Data Transfer -> Export</b></p>
        </td>
    </tr>
    <tr class="email-summary">
        <td>
            <p><b>{{trans "%file_name" file_name=$data.file_display_name}}</b></p>
        </td>
    </tr>
    <tr class="email-summary">
        <td><p>謝謝。</p></td>
    </tr>
</table>
{{template config_path="design/email/footer_template"}}

