// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .pages {
        .lib-pager();

        .item{
            > a,
            > strong{
                min-width: 36px;
                padding: 7px;
                border-radius: 10px;
                box-sizing: border-box;

            }

            > strong{
                background-color: var(--color-red-base);
                color: var(--color-white);
            }

            &.disabled{
                cursor: not-allowed;
                opacity: 0.3;

                a.action{
                    pointer-events: none;
                }
            }
        }

        .item,
        strong.page{
            font-size: 14px;
            line-height: 22px;
            font-weight: 500;
            text-align: center;
        }

        .action {
            background-color: transparent;
            border: var(--border-dark);
            border-radius: 10px;
            padding: 0 8px;

            &.previous {
                margin-right: 8px;
                .lib-css(transform, rotate(180deg), 1);
            }

            &.next {
                margin-left: 8px;
            }
        }

        .action.next:before,
        .action.previous:before{
            color: inherit !important;
        }

        a.page,
        a.action{
            color: var(--color-text-base);

            &:visited{
                color: var(--color-text-base);
            }

            &:hover,
            &:active{
                color: var(--color-red-base);
            }
        }

        a.action:hover{
            background: none;
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .pages {
        & &-items {
            display: block;
            padding: 2px 40px 0;
            position: relative;
            white-space: normal;
            z-index: 1;
        }

        &-item-previous {
            left: 0;
            position: absolute;
            top: 0;
            z-index: 1;
        }

        &-item-next {
            position: absolute;
            right: 0;
            top: 0;
            z-index: 1;
        }
    }
}
