<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <hotaiconnected_hotaipoint>
            <ftp_download>
                <enable>0</enable>
                <port>22</port>
                <remote_path>/Export</remote_path>
            </ftp_download>
            <point_notification>
                <enable>0</enable>
                <min_points>100</min_points>
            </point_notification>
        </hotaiconnected_hotaipoint>
    </default>
</config>
