<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<type name="Magento\Catalog\Model\ResourceModel\Product">
		<plugin name="Branch8_RestrictedProduct_Plugin_Magento_Catalog_Model_ResourceModel_Product" type="Branch8\RestrictedProduct\Plugin\Magento\Catalog\Model\ResourceModel\Product" sortOrder="10" disabled="false"/>
	</type>
	<virtualType name="Magento\Catalog\Ui\DataProvider\Product\Form\Modifier\Pool">
        <arguments>
            <argument name="modifiers" xsi:type="array">
                <item name="restricted_customer_groups" xsi:type="array">
                    <item name="class" xsi:type="string">Branch8\RestrictedProduct\Ui\DataProvider\Product\Form\Modifier\RestrictedProduct</item>
                    <item name="sortOrder" xsi:type="number">10</item>
                </item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Magento\CatalogStaging\Ui\DataProvider\Product\Form\Modifier\Pool">
        <arguments>
            <argument name="modifiers" xsi:type="array">
                <item name="restricted_customer_groups" xsi:type="array">
                    <item name="class" xsi:type="string">Branch8\RestrictedProduct\Ui\DataProvider\Product\Form\Modifier\RestrictedProduct</item>
                    <item name="sortOrder" xsi:type="number">10</item>
                </item>
            </argument>
        </arguments>
    </virtualType>
</config>
