<?xml version="1.0"?>
<!--
/**
 * @author Amasty Team
 * @copyright Copyright (c) Amasty (https://www.amasty.com)
 * @package Customer Group Catalog for Magento 2
 */-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="amasty_groupcat" translate="label" type="text" sortOrder="32107" showInDefault="1" showInWebsite="1" showInStore="1">
            <tab>amasty</tab>
            <group id="general" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Optimize Collection Loading</label>
                <field id="optimize_collection_loading" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Optimize Collection Loading module</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
        <section id="branch8_debug">
            <group id="branch8_restrictedproduct" translate="label" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Branch8_RestrictedProduct</label>
                <field id="log_types" translate="label" type="multiselect" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Log Files</label>
                    <source_model>Branch8\RestrictedProduct\Model\Config\Source\LogType</source_model>
                    <can_be_empty>1</can_be_empty>
                </field>
            </group>
        </section>
    </system>
</config>
