.account {
    .rolldate-container {
        .rolldate-panel {
            width: 100%;
            max-width: 100%;
            .rwd-m({
                width: 378px;
                max-width: 378px;
                left: 0;
                right: 0;
                bottom: 0;
                top: 180px;
                margin: auto;
            })
        }
    }
}