<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
		<section id="limit_purchased" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
			<label>Limit Purchased</label>
			<tab>branch8</tab>
			<resource>Branch8_LimitPurchased::config_branch8_limitpurchased</resource>
			<group id="general" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
				<label>General</label>
				<field id="enabled" translate="label" type="select" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Enable</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="order_statuses" type="multiselect" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
					<label>Order Statuses to be calculation limit purchased</label>
					<source_model>Magento\SalesArchive\Model\Order\Status\Source</source_model>
                    <can_be_empty>1</can_be_empty>
                    <comment/>
				</field>
			</group>
		</section>
	</system>
</config>