<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="customer_login">
<!--
        <observer name="branch8_single_device_login_login" instance="Branch8\SingleDeviceLogin\Observer\CustomerLoginObserver" />
-->
        <observer name="branch8_single_device_newlogin_token" instance="Branch8\SingleDeviceLogin\Observer\NewLoginToken" />
    </event>
    <event name="customer_logout">
        <observer name="branch8_single_device_clear_token" instance="Branch8\SingleDeviceLogin\Observer\ClearLoginToken" />
    </event>
</config>
