<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="hotaiconnected" translate="label" sortOrder="100">
            <label>Hotai Connected</label>
        </tab>
        <section id="hotai_bigquery" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>BigQuery Settings</label>
            <tab>hotaiconnected</tab>
            <resource>HotaiConnected_BigQuery::config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>BigQuery Configuration</label>
                <field id="key_content" translate="label" type="textarea" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Service Account JSON</label>
                    <comment><![CDATA[貼上從 GCP 下載的 JSON 金鑰。]]></comment>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                </field>
            </group>
        </section>
    </system>
</config>
