.icon {
    &:before {
        -webkit-font-smoothing: antialiased;
        font-family: 'Admin Icons';
        font-style: normal;
        font-weight: normal;
        line-height: 1;
        font-size: 1.7rem;
        speak: none;
    }
    &-upload {
        &:before {
            content: '\e635';
        }
    }
    &-download {
        &:before {
            content: '\e636';
            vertical-align: bottom;
        }
    }
}