<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="HotaiConnected_Stock::stock" title="HotaiConnected Stock" sortOrder="100">
                    <resource id="HotaiConnected_Stock::update_stock" title="Update Stock" sortOrder="10"/>
                </resource>
            </resource>
        </resources>
    </acl>
</config>