<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
        <section id="marketplace">
            <group id="custom_options" translate="label" type="text" sortOrder="200"
                   showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Custom Options</label>
                <field id="use_manage_variant2" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Use Manage Variant 2</label>
                    <comment>Will delete when everything ok</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
        <section id="branch8_debug">
            <group id="branch8_marketplacestaging" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Branch8_MarketplaceStaging</label>
                <field id="log_file" translate="label" type="multiselect" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Log Files</label>
                    <source_model>Branch8\MarketplaceStaging\Model\Config\Source\LogOption</source_model>
                    <can_be_empty>1</can_be_empty>
                </field>
            </group>
        </section>
	</system>
</config>
