<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Branch8\Customer\CustomerData\Common">
        <plugin name="branch8_homepage_member_bar_common_data" type="Branch8\Homepage\Plugin\CustomerDataCommonPlugin"/>
    </type>
</config>