<!--@subject 退款成功通知 @-->
{{template config_path="design/email/header_template"}}

<table class="main-title">
    <tr>
        <td class="title-mark">
            <div> </div>
        </td>
        <td>
            <h1>退款成功通知</h1>
        </td>
    </tr>
</table>

<p>
    親愛的○○(昵稱)您好，<br/>
    您的訂單編號 SS0000000000 已於 YYYY/MM/DD 完成退款作業，退款金額為 $1,111，刷退信用卡為VISA **** **** **** 5412，再請煩您確認。另外，若您的訂單有點數折抵會立即退還至您的和泰會員帳號。
</p>

<table cellpadding="0" cellspacing="0" class="order-info order-refund-success m-bottom__m">
    <thead>
    <tr>
        <th>訂單明細</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>
            <table class="order-main-info">
                <tr class="order_number">
                    <td class="label">訂單編號</td>
                    <td class="value">
                        <a target="_blank" href="#">SS00000000000</a>
                    </td>
                </tr>
                <tr class="order_date">
                    <td class="label">訂單日期</td>
                    <td class="value">YYYY/MM/DD HH:MM</td>
                </tr>
                <tr class="order_total">
                    <td class="label">預計退還金額</td>
                    <td class="value">$7,060</td>
                </tr>
                <tr class="order_points">
                    <td class="label">預計退還點數</td>
                    <td class="value">279點</td>
                </tr>
                <tr class="order_shipping-method">
                    <td class="label">物流方式</td>
                    <td class="value">超商取貨</td>
                </tr>
                <tr class="order_items">
                    <td class="label">訂購商品</td>
                    <td class="value">
                        1. 【漢來美食】沙茶炆鳳爪 300g(5盒組) X 1<br>
                        2. 【水果狼】韓國麝香葡萄 5-6房/4KG原裝箱 X 3
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    </tbody>
</table>

<p>
    若您是以信用卡付款，其退款項目已向授權銀行申請退款，作業程序將視各家銀行工作天數而不同，您可向發卡銀行洽詢該信用卡之入款情形，請留意近期手機訊息與帳單金額。<br>
    請至 帳號管理 > <a target="_blank" class="link-primary" href="#">訂單查詢</a> 瀏覽完整訂單內容。
</p>

{{template config_path="design/email/footer_template"}}
