<?xml version="1.0"?>
<!--
/**
 * Copyright © HotaiConnected. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="HotaiConnected_Logistics::logistics_overview"
             title="物流管理總覽"
             module="HotaiConnected_Logistics"
             sortOrder="100"
             action="logistics/settings/index"
             resource="HotaiConnected_Logistics::logistics_overview"
             parent="Magento_Backend::system_tools"/>
    </menu>
</config>
