// 顯示/隱藏工具類
.d-none {
    display: none;
}

.d-block {
    display: block;
}

.d-inline {
    display: inline;
}

.d-inline-block {
    display: inline-block;
}

.d-flex {
    display: flex;
}

// 文字對齊工具類
.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

// 邊距工具類
.m-0 { margin: 0; }
.m-1 { margin: 0.25rem; }
.m-2 { margin: 0.5rem; }
.m-3 { margin: 1rem; }
.m-4 { margin: 1.5rem; }
.m-5 { margin: 3rem; }

.mb-0 { margin-bottom: 0; }
.mb-1 { margin-bottom: 0.25rem; }
.mb-2 { margin-bottom: 0.5rem; }
.mb-3 { margin-bottom: 1rem; }
.mb-4 { margin-bottom: 1.5rem; }
.mb-5 { margin-bottom: 3rem; }


// 內距工具類
.p-0 { padding: 0; }
.p-1 { padding: 0.25rem; }
.p-2 { padding: 0.5rem; }
.p-3 { padding: 1rem; }
.p-4 { padding: 1.5rem; }
.p-5 { padding: 3rem; }

// 按鈕工具類
.btn {
    display: flex;
    align-items: center;
    justify-content: center;

    &-round{
        border-radius: 50%;
        min-width: auto !important;
    }
}

// 選單層級 目前查看事是 700，以下針對層級進行定義
// 注意事項：相關元件的定義層級，勿超過 "選單層級"，避免阻擋用戶操作


/* 彈窗層級，套件層級會使用此層級，當作JS指定"彈窗內容" & "背景半透明遮罩" Style z-index時的基礎值
    ex: .modal-popup { z-index: 680; }
    => 彈窗內容 z-index: 682;
    => 背景半透明遮罩 z-index: 681;
*/
.modal-popup {
    z-index: 680;
}

// 載入動畫層級
// 目前在初始載入頁面時 & API請求時，會使用
.loading-mask {
    z-index: 690;
}