<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Branch8\WebkulMpBuyerSellerChatCustomerUi\Api\CustomerStarNewConversationInterface"
                type="Branch8\WebkulMpBuyerSellerChatCustomerUi\Model\Api\CustomerStarNewConversation"/>
    <preference for="Branch8\WebkulMpBuyerSellerChatCustomerUi\Api\CustomerLoadChatProfileInterface"
                type="Branch8\WebkulMpBuyerSellerChatCustomerUi\Model\Api\CustomerLoadChatProfile"/>
</config>
