<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Webkul\Marketplace\Helper\Data">
        <plugin name="hide-customer-tab"
                type="Branch8\SellerPermission\Plugin\Webkul\Marketplace\Helper\Data" sortOrder="1"/>
    </type>
</config>
