<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="controller_action_predispatch_helpdesk_ticket_save">
        <observer name="recaptcha_on_submit_ticket"
                  instance="Branch8\HelpDeskRecaptcha\Observer\AjaxSaveTicketObserver"/>
    </event>
</config>
