<?xml version="1.0"?>
<!--
/**
 * Copyright © 2025 Branch8. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Branch8_ShippingSubsidy">
        <sequence>
            <module name="Magento_Sales"/>
            <module name="Magento_Quote"/>
            <module name="Webkul_Marketplace"/>
        </sequence>
    </module>
</config>
