<?xml version="1.0"?>
<!--
/**
 * Branch8.
 *
 * @category  Branch8
 * @package   Branch8_PageBuilder
 * @author    Branch8: Dev Team
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\PageBuilder\Model\WidgetInitializerConfig">
        <arguments>
            <argument name="config" xsi:type="array">
                <item name="products" xsi:type="array">
                    <item name="bestseller" xsi:type="array">
                        <item name="component" xsi:type="string">Magento_PageBuilder/js/content-type/products/appearance/carousel/widget</item>
                        <item name="appearance" xsi:type="string">bestseller_carousel</item>
                    </item>
                </item>
            </argument>
        </arguments>
    </type>
    <virtualType name="DefaultWYSIWYGValidator">
        <arguments>
            <argument name="allowedAttributes" xsi:type="array">
                <item name="data-slidetoshow-desktop" xsi:type="string">data-slidetoshow-desktop</item>
                <item name="data-slidetoshow-tablet" xsi:type="string">data-slidetoshow-tablet</item>
                <item name="data-slidetoshow-mobile" xsi:type="string">data-slidetoshow-mobile</item>
                <item name="data-in-page" xsi:type="string">data-in-page</item>
            </argument>
        </arguments>
    </virtualType>
</config>
