<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Branch8_Shipping::shipping" title="Shipping Management" sortOrder="10">
                    <resource id="Branch8_Shipping::shipment_tracking" title="Shipment Tracking Management" translate="title" sortOrder="10">
                        <resource id="Branch8_Shipping::shipment_tracking_getlist" title="Shipment Tracking Get List" translate="title" sortOrder="10"/>
                        <resource id="Branch8_Shipping::shipment_tracking_add" title="Shipment Tracking Add" translate="title" sortOrder="20"/>
                        <resource id="Branch8_Shipping::shipment_tracking_remove" title="Shipment Tracking Remove" translate="title" sortOrder="30"/>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
