<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="HotaiConnected\Account\Block\Content">
        <arguments>
            <argument name="blockFactory" xsi:type="object">Magento\Cms\Model\BlockFactory</argument>
        </arguments>
    </type>
    <type name="HotaiConnected\Account\Block\Login\Success">
        <arguments>
            <argument name="hotaiPointApi" xsi:type="object">Branch8\HotaiPoint\Helper\Api</argument>
            <argument name="logger" xsi:type="object">Psr\Log\LoggerInterface</argument>
            <argument name="customerSession" xsi:type="object">Magento\Customer\Model\Session</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\App\Router\Base">
        <plugin name="hotaiconnected_account_router" type="HotaiConnected\Account\Plugin\Router\AccountLogin" sortOrder="10"/>
    </type>
</config>
