<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="hotaiconnected_account" frontName="hotaiconnected_account">
            <module name="HotaiConnected_Account" before="Magento_Customer"/>
        </route>
    </router>
</config>
