<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <virtualType name="submitFeedDebug" type="Magento\Framework\Logger\Handler\Base">
        <arguments>
            <argument name="fileName" xsi:type="string">/var/log/submitFeed.log</argument>
        </arguments>
    </virtualType>
    <virtualType name="submitFeedDebugLogger" type="Magento\SaaSCommon\Model\Logging\Monolog">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="debug" xsi:type="object">submitFeedDebug</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Magento\SaaSCommon\Model\Http\Command\SubmitFeed">
		<arguments>
            <argument name="logger" xsi:type="object">submitFeedDebugLogger</argument>
            <!-- HTGO2-2619 try to disable log when reindex -->
            <argument name="extendedLog" xsi:type="boolean">false</argument>
		</arguments>
	</type>
<!--
    Sync Seller Id to Index Seller ID Attribute
-->
    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="sync:sellerId:indexSellerId" xsi:type="object">Branch8\SellerInformationProductDataExport\Console\Command\SyncSellerIdToIndexSellerId</item>
            </argument>
        </arguments>
    </type>

    <!-- Track Reservation to update livesearch_stock_status indexer -->
    <type name="Magento\InventoryReservationsApi\Model\AppendReservationsInterface">
        <plugin name="branch8_track_inventory_reservation" type="Branch8\SellerInformationProductDataExport\Plugin\InventoryReservation\AppendReservationsPlugin" sortOrder="10"/>
    </type>

    <type name="Branch8\SellerInformationProductDataExport\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">sellerInformationProductDataExportLogger</argument>
            <argument name="handlers" xsi:type="array">
                <item name="system" xsi:type="object">Magento\Framework\Logger\Handler\System</item>
                <item name="exception" xsi:type="object">Magento\Framework\Logger\Handler\Exception</item>
            </argument>
        </arguments>
    </type>

    <type name="Branch8\SellerInformationProductDataExport\Model\Services\SyncSellerIdToIndexSellerId">
        <arguments>
            <argument name="logger" xsi:type="object">Branch8\SellerInformationProductDataExport\Logger\Logger</argument>
        </arguments>
    </type>
</config>
