.admin__remark {
    background-color: #D9D9D9;
    font-size: 12px;
    padding: 10px 30px 10px 48px;
    margin-top: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &::before {
        content: '!';
        background-color: #fff;
        color: #000;
        border-radius: 50%;
        width: 18px;
        height: 18px;
        text-align: center;
        font-size: 12px;
        position: absolute;
        left: 15px;
    }
}