<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@subject {{trans "訂單報表匯出完成"}} @-->
<!--@vars {
"var $data.name":"Email Name",
"var $data.profile_id":"Profile ID"
} @-->
{{template config_path="design/email/header_template"}}
<table>
    <tr class="email-intro">
        <td>
            <p class="greeting">
                {{trans "Hi, %name" name=$data.name}}
            </p>
        </td>
    </tr>
    <tr class="email-summary">
        <td><p>訂單匯出已完成，請點擊連結前往下載</p>
    </tr>
    <tr class="email-summary">
        <td>
            <p> {{trans
                '<a href="%download_link" target="_blank">Download Link</a>'
                download_link=$this.getUrl($store,'marketplace/order/DownloadOrderFile/',[_query:[id:$data.profile_id],_nosid:1])
                |raw}}</p>
        </td>
    </tr>
    <tr class="email-summary">
        <td><p>檔案密碼規則：oD+MM+DD+統一編號的後4位數字</p></td>
    </tr>
</table>
{{template config_path="design/email/footer_template"}}

