@media print {
    #wk_mp_print_order .order-information {
        .block-content {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            gap: 10px;
        }

        .box {
            flex: 1 1 150px;
            max-width: 300px;
            box-sizing: border-box;
        }
    }
}

#wk_mp_print_order .buyer-information .box-content .box {
    width: 100%;
}
