<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Webkul\MpApi\Model\Seller\SellerManagement" type="Branch8\MarketplaceApi\Override\Seller\SellerManagement" />
    <preference for="Branch8\MarketplaceApi\Api\SellerManagementInterface" type="Branch8\MarketplaceApi\Override\Seller\SellerManagement" />
</config>