<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Branch8\MarketPlaceParentOrderHelpDesk\Api\Data\FindYourParentOrdersDataInterface"
                type="Branch8\MarketPlaceParentOrderHelpDesk\Model\ParentOrder"/>
    <preference for="Branch8\MarketPlaceParentOrderHelpDesk\Api\Data\FindYourParentOrdersSearchResultInterface"
                type="Branch8\MarketPlaceParentOrderHelpDesk\Model\ResourceModel\ParentOrder\Collection"/>
    <preference for="Branch8\MarketPlaceParentOrderHelpDesk\Api\FindYourParentOrderServiceInterface"
                type="Branch8\MarketPlaceParentOrderHelpDesk\Model\FindYourParentOrderService"/>



    <type name="Branch8\HelpDesk\ViewModel\TicketData">
        <plugin name="Branch8_MarketPlaceParentOrderHelpDesk::changeComponent"
                type="Branch8\MarketPlaceParentOrderHelpDesk\Plugin\Branch8\HelpDesk\ViewModel\TicketDataPlugin"
                sortOrder="1" />
    </type>
    <type name="Branch8\HelpDesk\ViewModel\TicketFormConfig">
        <plugin name="Branch8_MarketPlaceParentOrderHelpDesk::changeComponent"
                type="Branch8\MarketPlaceParentOrderHelpDesk\Plugin\Branch8\HelpDesk\ViewModel\TicketFormConfigPlugin"
                sortOrder="1" />
    </type>

    <type name="Branch8\HelpDesk\Model\EmailNotification">
        <plugin name="Branch8_MarketPlaceParentOrderHelpDesk::changeToparentOrderData"
                type="Branch8\MarketPlaceParentOrderHelpDesk\Plugin\Branch8\HelpDesk\Model\EmailNotificationPlugin"
                sortOrder="1" />
    </type>
    <type name="Branch8\HelpDesk\Model\TicketRepository">
        <plugin name="Branch8_MarketPlaceParentOrderHelpDesk::saveParentdata"
                type="Branch8\MarketPlaceParentOrderHelpDesk\Plugin\Branch8\HelpDesk\Model\TicketRepositoryPlugin"
                sortOrder="1" />
    </type>
</config>
