<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="branch8_catalog" translate="label" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
            <group id="product_change_log_cleaner" translate="label" sortOrder="500" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Product Change Log Cleaner</label>
                <field id="days_to_keep" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                    <label>Days to Keep</label>
                    <validate>validate-number validate-greater-than-zero required-entry</validate>
                    <comment>Delete log entries older than this number of days</comment>
                </field>
            </group>
        </section>
        <section id="branch8_debug">
            <group id="branch8_report" translate="label" type="text" sortOrder="400" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Branch8_Report</label>
                <field id="log_file" translate="label" type="multiselect" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Log Files</label>
                    <source_model>Branch8\Report\Model\Config\Source\LogTypes</source_model>
                    <can_be_empty>1</can_be_empty>
                </field>
            </group>
        </section>
        <section id="reports" translate="label" type="text" sortOrder="1000" showInDefault="1">
            <group id="options" translate="label" type="text" sortOrder="1" showInDefault="1">
                <field id="use_queue_to_track" translate="label comment" type="select" sortOrder="100" showInDefault="1">
                    <label>Use Queue to track</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
