<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <seller_info>
            <dashboard>
                <number_of_days_limit_to_download_order>14</number_of_days_limit_to_download_order>
            </dashboard>
        </seller_info>   
    </default>
</config>
