//
//  Common
//  ---------------------------------------------
& when (@media-common = true) {
    .popup-cancel-rma {

        .modal-dialog {
            text-align: left;
            p {
                margin: 0;
            }
        }

        .modal-footer {
            display: flex;
            flex-direction: column-reverse;
            gap: 12px;
            align-items: center;

            &:before, &:after{
                content: unset;
            }

            .popup-cancel-rma-btn {
                min-width: 96px;
                width: 138px;
                padding-left: 12px;
                padding-right: 12px;
            }
        }

    }


    .mprmasystem-seller-rma {
        .shipping-info {
            display: flex;
            justify-content: space-between;
            gap: 12px;
            margin-bottom: 12px;
            select {
                border: 1px solid #CCCCCC;
                height: 44px;
                font-size: 16px;
            }
        }


    }
}


//
//  Mobile
//  ---------------------------------------------

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {

}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {

}

//
//  Tablet
//  ---------------------------------------------

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__s) {

}

//
//  Tablet +
//  ---------------------------------------------

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .popup-cancel-rma {


        .modal-footer {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            gap: 16px;



            .popup-cancel-rma-btn {
                width: 180px;
            }
        }
    }
}

//
//  Desktop
//  ---------------------------------------------

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {

}
