<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Menu/etc/menu_configuration.xsd">
    <menu>
        <add id="Branch8_CustomerTicketTable::customer_ticket"
             title="Hotai Ticket"
             translate="title"
             module="Branch8_CustomerTicketTable"
             sortOrder="10"
             action="customerticket/index"
             parent="Branch8_MarketPlaceParentOrderAdminUi::parent_orders_general"
             resource="Branch8_CustomerTicketTable::customer_ticket"
        />
    </menu>
</config>
