<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/config.xsd">
    <default>
        <branch8_debug>
            <branch8_marketplace>
                <enable>0</enable>
                <log_file></log_file>
            </branch8_marketplace>
        </branch8_debug>
        <marketplace>
            <email>
                <enable_seller_approve_template>1</enable_seller_approve_template>
                <enable_becomeseller_request_template>1</enable_becomeseller_request_template>
                <enable_seller_disapprove_template>1</enable_seller_disapprove_template>
                <enable_seller_process_template>1</enable_seller_process_template>
                <enable_seller_deny_template>1</enable_seller_deny_template>
                <enable_product_deny_template>1</enable_product_deny_template>
                <enable_new_product_template>1</enable_new_product_template>
                <enable_edit_product_template>1</enable_edit_product_template>
                <enable_ask_productquery_seller_template>1</enable_ask_productquery_seller_template>
                <enable_askquery_seller_template>1</enable_askquery_seller_template>
                <enable_askquery_admin_template>1</enable_askquery_admin_template>
                <enable_product_approve_template>1</enable_product_approve_template>
                <enable_product_disapprove_template>1</enable_product_disapprove_template>
                <enable_order_placed_template>1</enable_order_placed_template>
                <enable_order_invoiced_template>1</enable_order_invoiced_template>
                <enable_seller_transaction_template>1</enable_seller_transaction_template>
                <enable_low_stock_template>1</enable_low_stock_template>
                <enable_withdrawal_request_template>1</enable_withdrawal_request_template>
                <enable_product_flag_template>1</enable_product_flag_template>
                <enable_seller_flag_template>1</enable_seller_flag_template>
                <becomeseller_request_auto_approve_notification_template>becomeseller_request_auto_approve_notification_template</becomeseller_request_auto_approve_notification_template>
                <seller_forgot_password_template>marketplace_email_seller_forgot_password_template</seller_forgot_password_template>
            </email>
        </marketplace>
        <mprmasystem>
            <settings>
                <seller_can_create_rma>0</seller_can_create_rma>
            </settings>
        </mprmasystem>
    </default>
</config>
