<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="branch8" translate="label" sortOrder="500">
            <label>Branch8</label>
        </tab>
        <section id="branch8_sales" sortOrder="10" showInWebsite="0" showInStore="1" showInDefault="0" translate="label">
            <label>Sales</label>
            <tab>branch8</tab>
            <resource>Branch8_Sales::config</resource>
            <group id="auto_retry_cancel_parent_order" sortOrder="10" showInWebsite="0" showInStore="0" showInDefault="1" translate="label">
                <label>Auto Retry Cancel Parent Order</label>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
        <section id="branch8_debug">
            <group id="branch8_marketplaceparentorderretrycancel" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Market Place Parent Order Retry Cancel</label>
                <field id="log_file" translate="label" type="multiselect" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Log Files</label>
                    <source_model>Branch8\MarketplaceParentOrderRetryCancel\Model\Config\Source\LogTypes</source_model>
                    <can_be_empty>1</can_be_empty>
                </field>
            </group>
        </section>
    </system>
</config>
