<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Amasty\ShopbyBrand\Controller\Index\Index">
        <plugin name="Branch8_Brand::enableDisablePage"
                type="Branch8\Brand\Plugin\Amasty\ShopbyBrand\Controller\Index\IndexPlugin" sortOrder="1"/>
    </type>
</config>
