<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Menu/etc/menu.xsd">
    <menu>
        <add id="JustBetter_ProductGridExport::import"
             title="Import Product Inventory"
             module="JustBetter_ProductGridExport"
             sortOrder="100"
             parent="Magento_Catalog::catalog"
             resource="JustBetter_ProductGridExport::import"
             action="productgridexport/import/index"/>
    </menu>
</config>