<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="customer_register_success">
        <observer name="process_pending_employee_after_registration" instance="Branch8\Customer\Observer\ProcessPendingEmployeeObserver" />
    </event>
    <event name="customer_login">
        <observer name="process_pending_employee_after_login" instance="Branch8\Customer\Observer\ProcessPendingEmployeeObserver" />
    </event>
</config>