<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Branch8_HotaiCancelOrder" setup_version="0.1.1">
        <sequence>
            <module name="Branch8_HotaiCore"/>
            <module name="Branch8_CatalogCustom"/>
        </sequence>
    </module>
</config>
