<figure class="magenest-highcharts-figure">
    <div id="container-register"></div>

    <div>
        <table class="table-report-subscribe">
            <tr>
                <th >Total Subscribers</th>
                <th class="total-subscribers">Total Unsubscribers</th>
            </tr>
            <tr>
                <td>
                    <p data-bind="text:allSubscribers"></p>
                </td>
                <td class="total-subscribers">
                    <p data-bind="text:allUnSubscribers"></p>
                </td>
            </tr>
        </table>
    </div>
</figure>
