
#comment_pager{
    text-align: right;
}
#comment_pager a, #comment_pager span {
    padding: 5px 8px;
}
#comment_pager a{
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 0px 5px;
}
#comment_pager .cur_page{
    font-weight: bold;
    padding: 5px 8px;
}