<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="hotai_point">
            <group id="pagebuilder" translate="label"  sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Page Builder</label>
                <field id="point_range" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Point Range</label>
                    <frontend_model>Branch8\ProductPoint\Block\Adminhtml\System\Config\PointRange</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                </field>
            </group>
        </section>
    </system>
</config>
