<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
	<router id="admin">
		<route frontName="marketplace_sellerdocument" id="marketplace_sellerdocument">
			<module before="Webkul_Marketplace" name="Branch8_SellerDocument"/>
		</route>
	</router>
</config>
