<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="JustBetter\ProductGridExport\Controller\Export\ProductExport">
        <arguments>
            <argument name="customerSession" xsi:type="object">Magento\Customer\Model\Session\Proxy</argument>
        </arguments>
    </type>
    <type name="JustBetter\ProductGridExport\Controller\Export\ProductExport">
        <plugin name="Branch8_ProductExportRabbitMQ::downloadProductFile"
                type="Branch8\ProductExportRabbitMQ\Plugin\JustBetter\ProductGridExport\Controller\Export\ProductExport"
                sortOrder="1" disabled="false" />
    </type>
    <type name="Branch8\ProductExportRabbitMQ\Plugin\JustBetter\ProductGridExport\Controller\Export\ProductExport">
        <arguments>
            <argument name="customerSession" xsi:type="object">Magento\Customer\Model\Session\Proxy</argument>
        </arguments>
    </type>
    <type name="Branch8\ProductExportRabbitMQ\Controller\Product\DownloadExportFile">
        <arguments>
            <argument name="customerSession" xsi:type="object">Magento\Customer\Model\Session\Proxy</argument>
        </arguments>
    </type>
</config>
