<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework/Event/etc/events.xsd">
    <event name="admin_user_save_after">
        <observer name="branch8_role_delegate_save_user_after" instance="Branch8\RoleDelegate\Observer\SaveUserAfter" />
    </event>
</config>
