<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="Magento\Catalog\Ui\DataProvider\Product\Form\Modifier\Pool">
        <arguments>
            <argument name="modifiers" xsi:type="array">
                <item name="general_notify_ticket_record_overview" xsi:type="array">
                    <item name="class" xsi:type="string">Branch8\GeneralNotifyTicket\Ui\DataProvider\Product\Form\Modifier\TicketRecordOverview</item>
                    <item name="sortOrder" xsi:type="number">130</item>
                </item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Magento\CatalogStaging\Ui\DataProvider\Product\Form\Modifier\Pool">
        <arguments>
            <argument name="modifiers" xsi:type="array">
                <item name="general_notify_ticket_record_overview" xsi:type="array">
                    <item name="class" xsi:type="string">Branch8\GeneralNotifyTicket\Ui\DataProvider\Product\Form\Modifier\TicketRecordOverview</item>
                    <item name="sortOrder" xsi:type="number">130</item>
                </item>
            </argument>
        </arguments>
    </virtualType>
</config>
