<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="before_handle_master_quote">
        <observer name="hotai_core_check_import_type_ticket_quantity"
                  instance="Branch8\HotaiCore\Observer\CheckImportTypeTicketQuantity"/>
    </event>
</config>

