<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<type name="Magento\CatalogRule\Model\Indexer\RuleProductsSelectBuilder">
		<plugin name="b8_catalog_rule_calculate_price_to_special_price" type="Branch8\CatalogRule\Plugin\Indexer\RuleProductsSelectBuilder" sortOrder="10" disabled="false"/>
	</type>
	<type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="catalogrule_approval_list_data_source" xsi:type="string">CatalogRuleApprovalCollection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="CatalogRuleApprovalCollection" type="Branch8\CatalogRule\Ui\DataProvider\CatalogRuleApproval\Listing\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">catalogrule_approval</argument>
            <argument name="resourceModel" xsi:type="string">Branch8\CatalogRule\Model\ResourceModel\CatalogRuleApproval</argument>
        </arguments>
    </virtualType>

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="catalogrule_change_history_data_source" xsi:type="string">CatalogRuleHistoryCollection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="CatalogRuleHistoryCollection" type="Branch8\CatalogRule\Ui\DataProvider\CatalogRuleHistory\Listing\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">catalogrule_change_log</argument>
            <argument name="resourceModel" xsi:type="string">Branch8\CatalogRule\Model\ResourceModel\CatalogRuleChangeLog</argument>
        </arguments>
    </virtualType>
    
</config>