<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <product_export>
            <asynchronous>
                <thresh_hold>1000</thresh_hold>
            </asynchronous>
        </product_export>
        <branch8_debug>
            <branch8_productexportrabbitmq>
                <log_file>systemlog,exceptionlog,productexport</log_file>
            </branch8_productexportrabbitmq>
        </branch8_debug>
    </default>
</config>
