<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- IsProductSalableForRequestedQtyConditionOnAddToCart -->
    <virtualType name="IsProductSalableForRequestedQtyConditionChainOnAddToCart">
        <arguments>
            <argument name="conditions" xsi:type="array">
                <item name="is_limit_purchase_qty" xsi:type="array">
                    <item name="required" xsi:type="boolean">true</item>
                    <item name="object" xsi:type="object">Branch8\LimitPurchased\Model\QtyCondition\LimitPurchasedCondition</item>
                </item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Magento\Catalog\Ui\DataProvider\Product\Form\ProductDataProvider">
        <plugin name="branch8_limitPurchased_product_multiselect_default"
            type="Branch8\LimitPurchased\Plugin\ProductMultiselectDefault" />
    </type>

    <type name="Magento\Catalog\Model\Product">
        <plugin name="branch8_limitPurchased_product_save"
                type="Branch8\LimitPurchased\Plugin\Product\Save\LimitPurchased" />
    </type>
    <type name="Magento\Checkout\Model\Cart">
        <plugin name="branch8_limitPurchased_cart_limit"
                type="Branch8\LimitPurchased\Plugin\Checkout\Model\CartPlugin" />
    </type>
</config>
