<?xml version="1.0"?>
<!--
/**
 *
 * @category    Branch8
 * @package     Branch8_Blog
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="customer_register_success">
        <observer name="blog_create_author" instance="Branch8\Blog\Observer\CreateAuthor"/>
    </event>
</config>
