<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
        <role_delegate>
            <general>
                <user_role>1</user_role>
            </general>
        </role_delegate>
	</default>
</config>
