<i class="fa fa-smile-o fa-2x" data-bind="click:openEmojiBox"></i>
<div class="dropdown-menu dropdown-menu-right emojity" role="menu"
     data-bind="afterRender:initEmoji">
    <div class="smiley_pad">
        :smiley: :smile: :wink: :blush: :angry:
    </div>
    <div class="smiley_pad">
        :laughing: :smirk: :disappointed: :sleeping: :coffee:
    </div>
    <div class="smiley_pad">
        :rage: :cry: :yum: :neutral_face: :sunglasses:
    </div>
    <div class="smiley_pad">
        :astonished: :stuck_out_tongue_winking_eye: :sob: :flushed: :mask:
    </div>
    <div class="smiley_pad">
        :smiling_imp: :confused: :scream: :stuck_out_tongue: :fearful:
    </div>
    <div class="smiley_pad">
        :punch: :ok_hand: :clap: :thumbsup: :thumbsdown:
    </div>
</div>
