<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <branch8_debug>
            <branch8_rmaadminui>
                <log_file>system,exception</log_file>
            </branch8_rmaadminui>
        </branch8_debug>
    </default>
</config>
