<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Branch8_RmaAdminUi">
        <sequence>
            <module name="Webkul_MpRmaSystem"/>
            <module name="Branch8_Rma"/>
            <module name="Branch8_Sales"/>
            <module name="Branch8_WebkulMpsplitorder"/>
        </sequence>
    </module>
</config>
