<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="hotaiconnected" translate="label" sortOrder="500">
            <label>Hotai Connected</label>
        </tab>
        <section id="hotaiconnected_fet_sms" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>FET SMS 設定</label>
            <tab>hotaiconnected</tab>
            <resource>HotaiConnected_FetSms::config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>一般設定</label>
                <field id="enabled" translate="label" type="select" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>啟用 FET 簡訊(No是採用 Every8D 傳簡訊)</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="api_domain" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>FET SMS API Domain</label>
                    <comment>範例: https://61.20.35.179:6507</comment>
                </field>
                <field id="api_path" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>SMS Submit Path</label>
                    <comment>範例: /mpsiweb/smssubmit</comment>
                </field>
                <field id="sys_id" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>System ID</label>
                </field>
                <field id="src_address" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Source Address</label>
                </field>
            </group>
        </section>
    </system>
</config>
